.box1{
    background-color: transparent
}

.box2{
    background-color: transparent
}

.box3{
    background-color: transparent
}

h3{
    font-family: 'Parisienne', cursive;
    color: #5434ba;
    margin-top: 10px
}

body{
    background-image: url("https://i1.creativecow.net/u/12414/spotlightsmall.jpg");
    background-size: 100%;
    overflow: hidden
}

